.site-styles {
  width: 100%;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
}
.site-styles h4 {
  margin-top: 25px;
  margin-bottom: 15px;
}
.site-styles h4:first-child {
  margin-top: 0;
  margin-bottom: 15px;
}
.site-styles h3.sectionhead {
  background: #444544;
  padding: 20px;
  margin: 80px 0 10px 0;
  color: white;
  font-size: 1.2rem;
  border-radius: 12px;
}
.site-styles h3.sectionhead.first {
  margin-top: 20px;
}
.site-styles .simple-styleguide {
  margin: 40px 0;
}
.site-styles .simple-styleguide:after {
  content: "";
  display: block;
  clear: both;
}
.site-styles .label {
  background: #ccc;
}
.site-styles .simple-styleguide code {
  display: block;
  background: #eee;
  padding: 10px;
  margin-top: 20px;
  color: #9e9e9e;
  line-height: 1.5;
}
.site-styles .colorblock {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
}
.site-styles .color-chart th:nth-child(3),
.site-styles .color-chart td:nth-child(3) {
  text-align: left;
}

.simple-styleguide--jump-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
}

.simple-styleguide--jump-nav li {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  width: 25%;
}

.glyph {
  font-size: 20px;
  border-bottom: 1px solid rgba(#ccc, .2);
  margin-bottom: 20px;
  padding-bottom: 0px;
  width: 20%;
  float: left;
}
.glyph fieldset,
.glyph .hidden-true {
  display: none;
}

.glyph span {
  display: block;
  margin-bottom: 1rem;
}

.glyph span:first-child {
  width: 5%;
}

.mvm.mtn.fgc1 {
  display: none;
}
