<a name="alerts"></a>

<h3 class="sectionhead">Alerts</h3>

<div class="simple-styleguide">

  <div role="contentinfo" aria-label="Status message" class="messages messages--status">
    <h2 class="visually-hidden">Status message</h2>
    An error occurred and processing did not complete.
  </div>

  <div role="contentinfo" aria-label="Warning message" class="messages messages--warning">
    <h2 class="visually-hidden">Warning message</h2>
    An error occurred and processing did not complete.
  </div>

  <div role="contentinfo" aria-label="Error message" class="messages messages--error">
    <h2 class="visually-hidden">Error message</h2>
    An error occurred and processing did not complete.
  </div>

</div>
