<a name="breadcrumbs"></a>

<h3 class="sectionhead">{{ default_segment }}</h3>

<div class="simple-styleguide">
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="/">Sample Section</a></li>
        <li>Sample Page</li>
    </ul>
</div>
