<a name="buttons"></a>

<h3 class="sectionhead">Buttons</h3>

<div class="styleguide">
    <h4>White Buttons</h4>
    <a href="javascript:void(0);" class="button">Link</a>
    <a href="javascript:void(0);" class="button active">Active/Hover</a>
    <hr/>
    <input type="button" value="Button Input" class="button" />
    <input type="reset" value="Reset Input" class="button" />
    <input type="submit" value="Form Submit" class="button" />

    {#<code>#}
        {#&lt;a href=&quot;javascript:void(0);&quot; class=&quot;button&quot;&gt;Link&lt;/a&gt;<br/>#}
        {#&lt;a href=&quot;javascript:void(0);&quot; class=&quot;button active&quot;&gt;Active/Hover&lt;/a&gt;#}
        {#<hr/>#}
        {#&lt;input type=&quot;button&quot; value=&quot;Button Input&quot; class=&quot;button&quot; /&gt;<br/>#}
        {#&lt;input type=&quot;reset&quot; value=&quot;Form Reset&quot; class=&quot;button&quot; /&gt;<br/>#}
        {#&lt;input type=&quot;submit&quot; value=&quot;Form Submit&quot; class=&quot;button&quot; /&gt;#}
    {#</code>#}

    <h4>Red Buttons</h4>
    <a href="javascript:void(0);" class="button red">Link</a>
    <a href="javascript:void(0);" class="button red active">Active/Hover</a>
    <hr/>
    <input type="button" value="Button Input" class="button red" />
    <input type="reset" value="Reset Input" class="button red" />
    <input type="submit" value="Form Submit" class="button red" />

    {#<code>#}
        {#&lt;a href=&quot;javascript:void(0);&quot; class=&quot;button red&quot;&gt;Link&lt;/a&gt;<br/>#}
        {#&lt;a href=&quot;javascript:void(0);&quot; class=&quot;button red active&quot;&gt;Active/Hover&lt;/a&gt;#}
        {#<hr/>#}
        {#&lt;button type=&quot;button&quot; class=&quot;button red&quot;&gt;Button Input&lt;/button&gt;<br/>#}
        {#&lt;button type=&quot;reset&quot; class=&quot;button red&quot;&gt;Reset Input&lt;/button&gt;<br/>#}
        {#&lt;input type=&quot;submit&quot; value=&quot;Form Submit&quot; class=&quot;button red&quot; /&gt;#}
    {#</code>#}

  <h4>Red Buttons - Alternate</h4>
  <div class="red" style="padding: 20px;">
    <a href="javascript:void(0);" class="button red-alt">Link</a>
    <a href="javascript:void(0);" class="button red-alt active">Active/Hover</a>
    <hr/>
    <input type="button" value="Button Input" class="button red-alt" />
    <input type="reset" value="Reset Input" class="button red-alt" />
    <input type="submit" value="Form Submit" class="button red-alt" />
  </div>

  {#<code>#}
    {#&lt;a href=&quot;javascript:void(0);&quot; class=&quot;button red-alt&quot;&gt;Link&lt;/a&gt;<br/>#}
    {#&lt;a href=&quot;javascript:void(0);&quot; class=&quot;button red-alt active&quot;&gt;Active/Hover&lt;/a&gt;#}
    {#<hr/>#}
    {#&lt;button type=&quot;button&quot; class=&quot;button red-alt&quot;&gt;Button Input&lt;/button&gt;<br/>#}
    {#&lt;button type=&quot;reset&quot; class=&quot;button red-alt&quot;&gt;Reset Input&lt;/button&gt;<br/>#}
    {#&lt;input type=&quot;submit&quot; value=&quot;Form Submit&quot; class=&quot;button red-alt&quot; /&gt;#}
  {#</code>#}

  {#
  <h3>Ghost</h3>
  <a href="javascript:void(0);" class="button ghost">Link</a>
  <a href="javascript:void(0);" class="button ghost active">Active/Hover</a>
  <hr/>
  <input type="button" value="Button Input" class="button ghost" />
  <input type="reset" value="Reset Input" class="button ghost" />
  <input type="submit" value="Form Submit" class="button ghost" />

  <code>
      &lt;a href=&quot;javascript:void(0);&quot; class=&quot;button ghost&quot;&gt;Link&lt;/a&gt;<br/>
      &lt;a href=&quot;javascript:void(0);&quot; class=&quot;button ghost active&quot;&gt;Active/Hover&lt;/a&gt;
      <hr/>
      &lt;button type=&quot;button&quot; class=&quot;ghost&quot;&gt;Button Input&lt;/button&gt;<br/>
      &lt;input type=&quot;reset&quot; value=&quot;Reset Input&quot; class=&quot;form-submit ghost&quot; /&gt;<br/>
      &lt;input type=&quot;submit&quot; value=&quot;Form Submit&quot; class=&quot;form-submit ghost&quot; /&gt;<br/>
  </code>
  #}
</div>
