<a name="colors"></a>

<h3 class="sectionhead">Colors</h3>

<div class="simple-styleguide">
  <table class="color-chart responsive">
    <tr>
      <th>Preview</th>
      <th>Variable / Code</th>
      <th>Usage</th>
    </tr>
    <tr>
      <td width="25%"><div class="colorblock red"></div></td>
      <td width="35%">$red<hr/>#c12b31</td>
      <td width="40%"><p>Primary color.</p></td>
    </tr>
    <tr>
      <td><div class="colorblock gray"></div></td>
      <td>$gray<hr/>#403c3a</td>
      <td><p>No additional notes.</p></td>
    </tr>
    <tr>
      <td><div class="colorblock white"></div></td>
      <td>$white<hr/>#ffffff</td>
      <td><p>No additional notes.</p></td>
    </tr>
    <tr>
      <td><div class="colorblock light-gray"></div></td>
      <td>$light-gray<hr/>#ebebeb</td>
      <td><p>No additional notes.</p></td>
    </tr>

    <tr>
      <td><div class="colorblock success"></div></td>
      <td>$success<hr/>#43AC6A</td>
      <td>Success messages use this background color with white text.</td>
    </tr>
    <tr>
      <td><div class="colorblock warning"></div></td>
      <td>$warning<hr/>#f08a24</td>
      <td>Warning messages use this background color with white text.</td>
    </tr>
    <tr>
      <td><div class="colorblock error"></div></td>
      <td>$error<hr/>#f04124</td>
      <td>Error messages use this background color with white text.</td>
    </tr>
  </table>
</div>

