<a name="pagination"></a>

<h3 class="simple-styleguide--sectionhead">{{ default_pattern }}</h3>

<div class="simple-styleguide">

    <div class="pagination">
        <span class="current">1</span>
        <span class="page"><a href="/?page=2">2</a></span>
        <span class="page"><a href="/?page=3">3</a></span>
        <span class="page"><a href="/?page=4">4</a></span>
        <span class="page"><a href="/?page=5">5</a></span>
        <span class="next"><a href="/?page=2">&gt;</a></span>
        <span class="last"><a href="/?page=2">&gt;&gt;</a></span>
    </div>

    <hr/>

    <div class="pagination">
        <span class="page"><a href="/?page=2">1</a></span>
        <span class="page"><a href="/?page=2">2</a></span>
        <span class="current">3</span>
        <span class="page"><a href="/?page=4">4</a></span>
        <span class="page"><a href="/?page=5">5</a></span>
        <span class="next"><a href="/?page=2">&gt;</a></span>
        <span class="last"><a href="/?page=2">&gt;&gt;</a></span>
    </div>

    <hr/>

    <div class="pagination">
        <span class="current">1</span>
        <span class="page"><a href="/?page=2">2</a></span>
        <span class="page"><a href="/?page=3">3</a></span>
        <span class="page"><a href="/?page=4">4</a></span>
        <span class="page"><a href="/?page=5">5</a></span>
        <span class="page"><a href="/?page=6">6</a></span>
        <span class="page"><a href="/?page=7">7</a></span>
        <span class="page"><a href="/?page=8">8</a></span>
        <span class="page"><a href="/?page=9">9</a></span>
        <span class="page"><a href="/?page=10">10</a></span>
        <span class="page"><a href="/?page=11">11</a></span>
        <span class="page"><a href="/?page=12">12</a></span>
        <span class="page"><a href="/?page=13">13</a></span>
        <span class="page"><a href="/?page=14">14</a></span>
        <span class="page"><a href="/?page=15">15</a></span>
        <span class="page"><a href="/?page=16">16</a></span>
        <span class="page"><a href="/?page=17">17</a></span>
        <span class="page"><a href="/?page=18">18</a></span>
        <span class="page"><a href="/?page=19">19</a></span>
        <span class="page"><a href="/?page=20">20</a></span>
        <span class="page"><a href="/?page=21">21</a></span>
        <span class="page"><a href="/?page=22">22</a></span>
        <span class="page"><a href="/?page=23">23</a></span>
        <span class="page"><a href="/?page=24">24</a></span>
        <span class="page"><a href="/?page=25">25</a></span>
        <span class="page"><a href="/?page=26">26</a></span>
        <span class="page"><a href="/?page=27">27</a></span>
        <span class="page"><a href="/?page=28">28</a></span>
        <span class="page"><a href="/?page=29">29</a></span>
        <span class="page"><a href="/?page=30">30</a></span>
        <span class="next"><a href="/?page=2">&gt;</a></span>
        <span class="last"><a href="/?page=2">&gt;&gt;</a></span>
    </div>

</div>
